@* Annabelle Baker, Group 2-10, IS 413
    This is my main landing page for my hobby - baking. Mainly cookies! It fits considering my last
    name is Baker. You can find my calculations page under 'Tutorial.cshtml'. Thanks for visiting!
*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bakers Gonna Bake</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon"> @* cookie favicon *@
    <link href="css/site.css" rel="stylesheet" /> @* style sheet for this page specifically *@
    <link href="lib/bootstrap/dist/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <h1>BAKERS GONNA BAKE</h1>

    <h3>Welcome to my site - where baking is my hobby and my name!</h3>
    <p>
        I've always grown up loving to bake. I used to have my own fun little baking show with my friends in high school!
        <br /><br />
        I bake anything from <span style="font-weight: bold;">peach crisp</span> to <span style="font-weight: bold;">gourmet chocolate chip cookies</span>.
    </p>

        <div class="container">
            <div class="photo-section">
                <div class="main-photo">
                <img src="/images/me.jpeg" alt="Main Photo">
                </div>
			<div class="sub-photos">
                
                <img src="/images/levains.png" />
                <img src="/images/sourdough.jpg" />
                <img src="/images/brownbutter.jpg" />

                </div>
            </div>
        </div>

    <p>
        I'm still learning new ways to perfect my baking! Recently, I've been obsessed with making the best chocolate chip cookie.
        <br /><br />
        I've tried <span style="font-style: italic;">sourdough</span>, <span style="font-style: italic;">brown butter</span>,
        <span style="font-style: italic;">chocolate chunk</span>, <span style="font-style: italic;">oatmeal</span>, and other varieties of the cookie
        and am looking for the best methods overall.
    </p>

    <ul>
        <li>Levain's Bakery Chocolate Chip Cookies - <b>my personal favorite!</b></li>
        <li>Sourdough Brown Butter Chocolate Chunk Cookies</li>
        <li>Oatmeal Chocolate Chip Cookies (my grandma's recipe!)</li>
        <li>Classic Chocolate Chip Cookies</li>
        <li>Brookies (brownie and chocolate chip cookies mixed together)</li>
    </ul>
</body>
</html>


